<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahak's Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div>
        <form action='\math' method="post">
            <h1>Mahak's Calculator</h1>
            <label for="101">Enter 1st Number : </label>
            <input type="text" id="101" name="num1" required>
            <br><br>
            <label for="102">Enter 2nd Number : </label>
            <input type="text" id="102" name="num2" required>
            <br>


            <h3>Choose a Mathematical Operation</h3>
            <select name="operation"> 
                <option value="add">add</option>
                <option value="subtract">subtract</option>
                <option value="multiply">multiply</option>
                <option value="divide">divide</option>
                <option value="modulo">modulo</option>
            </select>
            <br><br>
            <input type="submit" value="Calculate">
        </form>
    </div>
</body>
</html>